body {
    background: #e1e1e1;
  }
  /* .banner {
    
    color: #00408b;
    font-size: 24px;
    height: 76px;
  } */
  
  .label {
    padding-bottom: 17px;
    padding-top: 17px;
    cursor: pointer;
  }
  
  .label-select {
    color: #ffffff;
    font-weight: 500;
    border-bottom: #00408b solid 5px;
  }
  
  /* input::placeholder {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
  } */
  
  .todo-card {
    background: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 8px;
    color: #000000;
    padding: 24px 32px;
  }
  
  .todo-editor {
    background: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 24px 32px;
    color: #000000;
    display: none;
  }
  
  .todo-editor > .todo-check {
    cursor: auto;
  }
  
  .input-title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    width: 85%;
    background: transparent;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    display: inline-flex;
  }
  
  .input-title::placeholder {
    color: #000000;
  }
  
  .todo-detail {
    padding: 0px 42px;
    font-weight: 500;
  }
  
  .todo-detail > input {
    border-color: transparent;
  }
  
  .todo-detail > textarea {
    border-color: transparent;
    width: 100%;
    padding: 8px 15px;
  }
  
  .todo-detail > p {
    padding: 22px 0px 8px;
  }
  
  .editor-button {
    padding: 0px 15px;
    cursor: pointer;
    margin-top: -15px;
    display: none;
  }
  
  .editor-button > .reset {
    background: #ffffff;
    color: #d0021b;
    padding: 12px 0px;
    border-bottom-left-radius: 5px;
  }
  
  .editor-button > .submit {
    background: #4a90e2;
    color: #ffffff;
    padding: 12px 0px;
    border-bottom-right-radius: 5px;
  }
  
  .todo-check {
    color: #ffffff;
    display: inline-flex;
    cursor: pointer;
  }
  
  .todo-icon {
    font-size: 16px;
    color: #757575;
    padding: 5px 0 0 42px;
    font-weight: 400;
  }
  
  .todo-title {
    padding-left: 16px;
  }
  
  .todo-function {
    float: right;
    display: inline-flex;
  }
  
  .todo-function > div {
    padding-left: 15px;
    cursor: pointer;
  }
  
  .todo-highlight {
    background: #fff2dc;
  }
  
  .todo-highlight > .todo-function > .todo-star {
    color: #f5a623;
  }
  
  .todo-done > .todo-title {
    color: #9b9b9b;
    text-decoration: line-through;
  }
  
  .todo-done > .todo-check {
    color: #4a90e2;
  }
  
  .font-title {
    font-family: "Roboto";
    font-weight: 400;
  }
  
  .font-normal {
    font-family: "Roboto";
    font-weight: 500;
  }
  
  .font-italic {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    color: #c8c8c8;
    padding: 0px 32px;
  }
  
  